# Кэш и скомпилированные файлы Python
__pycache__/
*.py[cod]
*.egg-info/

# Виртуальные окружения
.venv/
venv/

# Файлы IDE
.idea/
.vscode/

# Poetry lock-файл генерируется автоматически внутри Docker
poetry.lock
